/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	margin:0;
	font-size:1.8rem;
	letter-spacing:0.02em;
	word-wrap:break-word;
	text-rendering:optimizeLegibility;
  line-height: 1.7;
	-moz-font-feature-settings: "liga" on;
}

.spacer {
  flex: 1 1 auto;
}


.loading {
    display:flex;
    flex:1;
    align-items:center;
    justify-content:center;
}


