:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
main {
  display: flex;
  flex-direction: column;
  flex:1;
  height:100vh;
  padding:2rem;
}