<h3>Order Form</h3>

<app-orders-form
  *ngIf="!loading else loadingTemplate"
  [order]="order"
  [dataPackageTypes]="dataPackageTypes"
  (onSubmit)="submit($event)"
></app-orders-form>
<ng-template #loadingTemplate>
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

