<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a mat-button routerLink="./">
        <mat-icon class="header-icon">dashboard</mat-icon>
        <span>Narrative Marketplace</span>
      </a>
      <span class="spacer"></span>
      <a mat-button routerLink="./order">New Order</a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
