:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
}
header {
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:2;
    & .header-icon {
      padding-right:16px;
    }
}
main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

