<form [formGroup]="orderForm" (ngSubmit)="submit()" *ngIf="!saving else loadingTemplate">
  
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="Name" type="text">
      </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Max Bid Price" formControlName="MaxBidPrice" type="number">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Data Package Type</mat-label>
      <mat-select formControlName="DataPackageTypeId">
        <mat-option *ngFor="let dataPackageType of dataPackageTypes" [value]="dataPackageType.Id">
          {{dataPackageType.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-flat-button color="primary" [disabled]="!orderForm.valid" type="submit">Submit</button>

</form>
<ng-template #loadingTemplate>
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

