<table mat-table [dataSource]="orders" class="mat-elevation-z1" *ngIf="!loading else loadingTemplate">

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="MaxBidPrice">
    <th mat-header-cell *matHeaderCellDef> Max Bid Price ($) </th>
    <td mat-cell *matCellDef="let element"> {{element.MaxBidPrice | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="DataPackageType">
    <th mat-header-cell *matHeaderCellDef> Data Package Type </th>
    <td mat-cell *matCellDef="let element"> {{element.DataPackageType}} </td>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="Action" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="edit(element.Id)">
          <!-- <a mat-button [routerLink]="['/order', element.Id]"> -->
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          <!-- </a> -->
          </button>
        <button mat-menu-item (click)="delete(element.Id)">
          <mat-icon color="warn">delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<ng-template #loadingTemplate>
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
